body {
  color: whitesmoke;
  background-color: #28282b;
  margin: 2em;
}

.container-md {
  margin-top: 6em;
}

.removeBtn {
  display: none;
}

.todoTable {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-animation {
  animation: fade-in forwards 0.5s ease-in;
}
