body {
  color: whitesmoke;
  background-color: #28282b;
}

.container {
  margin-top: 5em;
}

.removeBtn {
  display: none;
}

.todoTable {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
